<div class="container center">
    <h2> Our Teams </h2>
</div>

<main role="main" class="container">
    <div class="card-deck">
        <div class="card">
          <img src="assets/image/a.jfif" class="card-img-top" style="height: 400px; ">
          <div class="card-body">
            <h5 class="card-title">Felix Nugraha</h5>
            <p class="card-text">NIM : 00000043938</p>
            <p class="card-text">Email : felix.nugraha@student.umn.ac.id</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
        <div class="card">
          <img src="assets/image/b.jfif" class="card-img-top" style="height: 400px; " >
          <div class="card-body">
            <h5 class="card-title">Christian Winarta</h5>
            <p class="card-text">NIM : 00000043902</p>
            <p class="card-text">Email : christian.winarta@student.umn.ac.id</p>
          </div>
        </div>
    </div>
    <div class="card-deck mt-3">
        <div class="card">
          <img src="assets/image/c.jfif" class="card-img-top" style="height: 400px; ">
          <div class="card-body">
            <h5 class="card-title">Leonardus Efendi</h5>
            <p class="card-text">NIM : 00000043939</p>
            <p class="card-text">Email : leonardus.efendi@student.umn.ac.id</p>          </div>
        </div>
        <div class="card">
          <img src="assets/image/d.jfif" class="card-img-top" style="height: 400px; ">
          <div class="card-body">
            <h5 class="card-title">Matthew Man Young Leemans</h5>
            <p class="card-text">NIM : 00000052797</p>
            <p class="card-text">Email : matthew.leemans@student.umn.ac.id</p>          </div>
        </div>
    </div>

</main>